.editor-css {
  display: flex;
  justify-content: space-between;
  width: 450px;
  border-bottom: 2px solid black;
}

.css-input {
  width: 400px;
  height: 50px;
  box-sizing: border-box;
  font-size: 16px;
  color: transparent;
  background: transparent;
  position: absolute;
  outline: none;
  letter-spacing: normal;
  font-weight: 400;
  caret-color: red;
  font-family: sans-serif;
  padding: 5px;
  overflow: hidden;
  border: 2px solid rgb(92, 92, 177);
  animation: blink .5s infinite;
}

.css-input::placeholder {
  color: #6f6e6e;
  transition: color 1s;
}

.editor-css:hover .css-input::placeholder {
  color: white;
}

.fake-css-input {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 400px;
  height: 50px;
  letter-spacing: normal;
  font-weight: 400;
  font-family: sans-serif;
  padding: 5px;
  overflow: hidden;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2e2a23;
  border: none;
  width: 50px;
}

.css-editor-button {
  height: 25px;
  width: 40px;
  background-color: #f0f0f0;
  border: none;
  transition: all .5s;
}

.css-editor-button:hover {
  height: 20px;
  width: 35px;
  cursor: pointer;
}

.css-editor-button:active {
  background-color: grey;
}

@keyframes blink {
  50% { 
      border: 2px solid white;
  }
}

@media (max-width: 700px) {
  .editor-css {
    width: 350px;
  }

  .css-input {
    width: 300px;
  }

  .fake-css-input {
    width: 300px;
  }
}