.winners {
  width: 100%;
}

.winners-head {
  display: flex;
  /* width: 470px; */
  /* justify-content: space-between; */
  align-items: center;
}

.winners-head-number {
  width: 40px;
  text-align: center;
}

.winners-head-car {
  width: 40px;
  text-align: center;
}

.winners-head-name {
  width: 200px;
  text-align: center;
}

.winners-head-wins {
  width: 90px;
  cursor: pointer;
  text-align: center;
}

.winners-head-time {
  width: 100px;
  cursor: pointer;
  text-align: center;
}